*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
}
.toggle-button{
    margin:0 0 15px 10px;

}
    /* .toggle-button i{
  font-size: 60px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 .5rem .5rem rgb(198, 196, 196);
  cursor: pointer;
} */
.side-menu{
    width: 180px;
    display: block;
    position: fixed;
    background-color: rgb(204, 210, 210);
    height: 100%;
}

.my-logo{
    font-size: 30px;
    text-align: center;
}
.navigation-links li{
    list-style-type: none;
    padding-top: 40px;
    
}
.navigation-links li a{
font-size: 20px;
font-weight: bold;
text-decoration: none;
color: rgb(25, 25, 25);
}
.navigation-links li a:focus{
   color: rgb(8, 255, 234,0.9);
}

/* main content */
 main{
    margin-left: 180px;  
    width: 100%;
}
.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 10px;
}
.main-menu{
    margin: 10px;
}
.main-menu i{
    font-size: 40px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
#about{
    margin: 40px;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% auto;
    justify-content: center;
    align-items: center;
}
.about-image{
    width: 100%;
}
#my-image{
    width: 20rem;
    height: 20rem;
}
.about h3{
    margin-bottom: 15px;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome{
    font-size: 60px;
}
.home h1{
  font-size: 50px;
}
.home h2{
font-size: 30px;
}
#about h3{
    font-size: 20px;
  }
.portfolio{
 gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #project{
    width: 100%;
    /* height: 200px; */
  }

@media screen and (max-width:380px) {
    .input-box > input, button{
        padding: 2px;
        margin-right: 0;
    } 
    .input-box >input{
    width: 100px;
    } 
    .my-logo{
        font-size: 20px;
    }
    .home{
        font-size: 20px;
    }
    .active{
        display: block;
    }
    .home h1{
        font-size: 20px;
      }
      .home h2{
        font-size: 12px;
        }
        #welcome{
            font-size: 40px;
        }
} 

@media screen and (max-width:786px) {
    .input-box > input, button{
        padding: 2px;
        margin-right: 0;
    } 
    .input-box >input{
    width: 110px;
    } 
    
    .active{
        display: block;
    }
    #about{
        /* margin: 10px; */
        display:block;
        justify-content: center;
    align-items: center;
    }
    #home{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 50%; */
    }
    .home{
      margin: 20px;    
     }

    .home h1{
        font-size: 20px;
        margin-top: 10px;
      }
      
      .home h2{
        font-size: 22px;
        margin-top: 10px;
        }
        #welcome{
            font-size: 35px;
        }
        .portfolio{
            display: block;
          }
}